<template>
  <div :is="tag" :class="['vc-card-actions', 'pa-16', color, dark ? 'vc-dark' : 'vc-light']">
    <slot />
  </div>
</template>
<script>
import props from '../../mixins/props'

export default {
  name: 'VcCardActions',
  mixins: [
    props
  ],
  props: {
    tag: {
      type: String,
      required: false,
      default: 'section'
    }
  }
}
</script>
<style>
.vc-card-actions
{
  white-space: nowrap;
}
</style>
