<template>
  <div role="textbox" :aria-multiline="type === 'textarea'" :class="['vc', value ? 'vc-text-value' : null, disabled ? 'pointer-events-off' : null, 'vc-text', type, placeholder ? 'vc-text-placeholder' : null, iconLeft ? 'vc-text-icon-left' : null, focus ? 'vc-text-focus' : null]" :style="{width: width}" :readonly="readonly" :disabled="disabled">
    <label :for="id ? id : name" :class="['vc-text-wrapper', color]">
      <span v-if="label" v-html="label" :class="['vc-text-label', 'pointer-events-off', required ? 'vc-required-field' : null]" />
      <div :class="['vc-table-layout']">
        <div>
          <div v-if="iconLeft" :class="['vc-text-icon-left']">
            <vc-icon :color="color">{{ iconLeft }}</vc-icon>
          </div>
          <div>
            <input
              @focus="focus = true;$emit('focus')"
              @blur="focus = false;$emit('blur')"
              @input="$emit('input', $event.target.value)"
              @click="$emit('click')"
              :class="['ellipsis']"
              :autofocus="autofocus"
              :id="id ? id : name"
              :value="value"
              :type="type"
              :name="name"
              :readonly="readonly"
              :placeholder="placeholder"
              :disabled="disabled"
              :maxlength="maxlength"
              ref="input"
              autocomplete="off"
              v-if="type !== 'textarea'" />
            <textarea
              @focus="focus = true;$emit('focus')"
              @blur="focus = false;$emit('blur')"
              @input="$emit('input', $event.target.value)"
              @click="$emit('click')"
              :autofocus="autofocus"
              :id="id ? id : name"
              :disabled="disabled"
              :maxlength="maxlength"
              ref="input"
              :rows="rows"
              :value="value"
              :readonly="readonly"
              :name="name"
              :placeholder="placeholder"
              :style="{resize: resize}"
              v-else></textarea>
          </div>
          <div v-if="clearable" :class="['vc-text-icon-clearable', 'align-center']" @click="reset()">
            <vc-icon :color="color" size="small">close</vc-icon>
          </div>
          <div
            v-if="reveal && type === 'password'"
            :class="['vc-text-icon-reveal']"
            @mousedown="toggleType('text')"
            @mouseup="toggleType('password')">
            <vc-icon :color="color">remove_red_eye</vc-icon>
          </div>
          <div v-if="iconRight" :class="['vc-text-icon-right']">
            <vc-icon :color="color">{{ iconRight }}</vc-icon>
          </div>
        </div>
      </div>
      <span v-if="hint" v-html="hint" :class="['vc-input-hint']" />
    </label>
  </div>
</template>
<script>
import props from '../../mixins/props'

export default {
  name: 'VcText',
  mixins: [
    props
  ],
  data () {
    return {
      focus: false
    }
  },
  props: {
    type: {
      type: String,
      required: false,
      default: 'text'
    },
    maxlength: {
      type: Number,
      required: false
    },
    hint: {
      type: String,
      required: false
    },
    required: {
      type: Boolean,
      required: false,
      default: false
    },
    value: {
      required: false
    },
    iconLeft: {
      type: String,
      required: false
    },
    iconRight: {
      type: String,
      required: false
    },
    disabled: {
      type: Boolean,
      required: false
    },
    readonly: {
      type: Boolean,
      required: false
    },
    placeholder: {
      type: String,
      required: false
    },
    label: {
      type: String,
      required: false
    },
    id: {
      type: String,
      required: false
    },
    name: {
      type: String,
      required: true
    },
    rows: {
      type: [Number, String], // textarea only
      required: false,
      default: 5
    },
    resize: { // textarea only
      type: String,
      required: false,
      default: 'none' // horizontal, vertical, inherit, none, both, unset, initial, revert
    },
    autofocus: { // textarea only
      type: Boolean,
      required: false
    },
    reveal: {
      type: Boolean, // password only
      required: false,
      default: false
    },
    clearable: {
      type: Boolean,
      required: false,
      default: false
    },
    width: { // px, %, any
      type: String,
      required: false,
      default: null
    }
  },
  methods: {
    reset () {
      const ref = this.$refs.input
      ref.value = ''
      this.$emit('input', ref.value)
    },
    toggleType (type) {
      this.$refs.input.setAttribute('type', type)
    }
  }
}
</script>
<style>
.vc-text
{
  display: inline-block;
  vertical-align: middle;
}

.vc-text .vc-text-wrapper
{
  display: block;
  position: relative;
  border-bottom: solid 1px #bdbdbd;
  transition: border-color .3s ease-in-out;
}

.vc-text:hover .vc-text-wrapper
{
  border-bottom-color: #000;
}

.vc-text .vc-table-layout
{
  background: #fff;
  box-sizing: content-box;
  margin: 0;
  width: -webkit-calc(100% + 1px);
}

.vc-text input,
.vc-text textarea,
.vc-text .vc-text-label
{
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.vc-text input,
.vc-text textarea
{
  display: block;
  border: 0;
  outline: 0;
  width: 100%;
  font-family: inherit;
  color: rgba(0, 0, 0, .87);
  padding: 0 4px;
}

.vc-text input
{
  height: 30px;
}

.vc-text .vc-text-icon-left,
.vc-text .vc-text-icon-right,
.vc-text .vc-text-icon-clearable,
.vc-text .vc-text-icon-reveal
{
  width: 24px;
}

.vc-text .vc-text-wrapper::after
{
  content: "";
  height: 2px;
  background: inherit;
  display: block;
  width: 0;
  left: 50%;
  transition: all .3s ease-in-out;
  position: absolute;
  bottom: -2px;
}

.vc-text.textarea .vc-text-icon-left,
.vc-text.textarea .vc-text-icon-right,
.vc-text.textarea .vc-text-icon-clearable
{
  vertical-align: top;
}

.vc-text.vc-text-focus > .vc-text-wrapper::after
{
  left: 0;
  right: 0;
  width: 100%;
}

.vc-text[readonly] input,
.vc-text[readonly] textarea,
.vc-text[disabled] input,
.vc-text[disabled] textarea,
.vc-text:not(.vc-text-focus) .vc-icon
{
  color: #6d6d6d !important;
}

.vc-text[disabled] .vc-text-label
{
  opacity: .25;
}

.vc-text[disabled] .vc-icon
{
  opacity: .25;
}

.vc-text ::-webkit-input-placeholder
{
  color: rgba(0, 0, 0, .3);
}

.vc-text ::-moz-placeholder
{
  color: rgba(0, 0, 0, .3);
}

.vc-text :-ms-input-placeholder
{
  color: rgba(0, 0, 0, .3);
}

.vc-text :-moz-placeholder
{
  color: rgba(0, 0, 0, .3);
}

.vc-text
{
  padding: 16px 0;
}

.vc-text .vc-text-label
{
  position: absolute;
  top: -16px;
  transition: all .3s ease-in-out;
  font-size: 12px;
  left: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  z-index: 5;
  width: 80%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.vc-text:not(.vc-text-value):not(.vc-text-focus):not(.vc-text-placeholder) .vc-text-label
{
  font-size: 14px;
}

.vc-text.vc-text-value .vc-text-label
{
  top: -16px !important;
  left: 2px !important;
}

.vc-text:not(.vc-text-placeholder):not(.vc-text-focus) .vc-text-label
{
  top: 7px;
}

.vc-text.vc-text-icon-left:not(.vc-text-placeholder):not(.vc-text-focus) .vc-text-label
{
  left: 28px;
  top: 7px;
}

.vc-text.textarea:not(.vc-text-placeholder):not(.vc-text-focus) .vc-text-label
{
  top: 0;
}

.vc-text .vc-text-icon-clearable .vc-icon,
.vc-text .vc-text-icon-reveal .vc-icon
{
  cursor: pointer;
}

.vc-text.textarea .vc-text-icon-clearable .vc-icon
{
  margin-top: 4px;
}
</style>
