<template>
  <div :is="tag" :class="['vc', 'vc-layout']" role="grid" aria-readonly="true">
    <slot></slot>
  </div>
</template>
<script>
export default {
  name: 'VcLayout',
  props: {
    tag: {
      type: String,
      required: false,
      default: 'section'
    },
    spacing: {
      type: Number,
      required: false,
      default: 0,
      validator (value) {
        if (value < 0) {
          console.warn(`"${value}" is incorrect value for the :spacing property of <vc-layout />. You must supply a positive number.`)
          return false
        }
        return true
      }
    }
  }
}
</script>
<style>
.vc-layout,
.vc-layout *
{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.vc-layout
{
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -ms-flex-wrap: nowrap;
  margin: auto;
  width: 100%;
}

.vc-layout:only-child
{
  margin: -4px;
}
</style>
