<template>
  <div role="radiogroup" :class="['vc', 'vc-radio-group', `vc-radio-group-${direction}`]" :style="{width: width}">
    <ul>
      <slot />
    </ul>
  </div>
</template>
<script>
export default {
  name: 'VcRadioGroup',
  model: {
    prop: 'checked',
    event: 'input'
  },
  props: {
    value: null,
    checked: null,
    name: {
      type: String,
      required: true
    },
    direction: {
      type: String,
      required: false,
      default: 'vertical' // 'vertical' | 'horizontal'
    },
    color: {
      type: String,
      required: false,
      default: 'grey'
    },
    dark: {
      type: Boolean,
      required: false,
      default: true
    },
    labelPosition: {
      type: String,
      required: false,
      default: 'right'
    },
    width: {
      type: String,
      required: false
    }
  }
}
</script>
<style>
.vc-radio-group ul,
.vc-radio-group li
{
  margin: 0;
  padding: 0;
  list-style: none;
}

.vc-radio-group.vc-radio-group-horizontal li
{
  display: inline-block;
  vertical-align: middle;
}
</style>
