<template>
  <span :class="['vc-list-item-primary-text', 'vc-block', 'ellipsis']">
    <slot></slot>
  </span>
</template>
<script>
export default {
  name: 'VcListItemPrimaryText'
}
</script>
<style>
.vc-list-item-primary-text
{
  line-height: 24px;
  font-size: 14px;
  color: rgba(0, 0, 0, .87);
}
</style>
