<template>
  <div
    role="group"
    @click="click"
    :disabled="disabled"
    :class="['vc-button-group', color, dark ? 'vc-dark' : 'vc-light', 'elevation-2', `vc-button-group-${type}`]">
    <slot />
  </div>
</template>
<script>
import props from '../../mixins/props'

export default {
  name: 'VcButtonGroup',
  mixins: [
    props
  ],
  props: {
    disabled: {
      type: Boolean,
      required: false,
      default: false
    },
    type: {
      type: String,
      required: false,
      default: 'normal' // normal, toggle, exclusive
    },
    size: {
      type: String,
      required: false,
      default: 'normal' // small, normal, large
    },
    value: null,
    checked: null
  },
  model: {
    prop: 'checked',
    event: 'input'
  },
  data () {
    return {
      commands: []
    }
  },
  watch: {
    checked () {
      this.depress()
    }
  },
  mounted () {
    this.depress()
  },
  methods: {
    depress () {
      if (this.type !== 'normal') {
        this.checked.forEach(command => {
          this.$el.querySelector(`button[name="${command}"]`).classList.add('vc-button-depressed')
        })
      }
    },
    click (event) {
      if (this.disabled) {
        return
      }
      const name = event.target.getAttribute('name')
      const type = this.type
      const buttons = this.$el.querySelectorAll('button')
      const currentButton = this.$el.querySelector(`button[name="${name}"]`)
      const depressed = 'vc-button-depressed'
      this.commands = []
      switch (type) {
        case 'toggle': // bold, italic, underline
          currentButton.classList.toggle(depressed)
          buttons.forEach(button => {
            if (button.classList.contains(depressed)) {
              const name = button.getAttribute('name')
              this.commands.push(name)
            }
          })
          break
        case 'exclusive': // left, center, justify
          buttons.forEach(button => {
            button.classList.remove(depressed)
          })
          currentButton.classList.add(depressed)
          this.commands.push(name)
          break
        case 'normal':
          this.commands.push(name)
          break
      }
      this.$emit('input', this.commands)
    }
  }
}
</script>
<style>
.vc-button-group
{
  white-space: nowrap;
  border-radius: 2px;
  display: inline-flex;
}

.vc-button-group .vc-button
{
  margin: 0;
  min-width: auto;
}

.vc-button-group .vc-button
{
  transition: opacity .3s ease-in-out;
}

.vc-button-group:not(.vc-button-group-normal) .vc-button:not(.vc-button-depressed)
{
  opacity: .55;
}

.vc-button-group .vc-button:not(:last-of-type):not(:first-of-type)
{
  border-radius: 0;
}

.vc-button-group .vc-button:first-of-type
{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.vc-button-group .vc-button:last-of-type
{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.vc-button-group[disabled],
.vc-button-group .vc-button *
{
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  pointer-events: none;
}

.vc-button-depressed
{
  /*background: red !important;*/
}
</style>
