.red
{
    background-color: #f44336;
}

.red.l-50
{
    background-color: #ffebee;
}

.red.l-100
{
    background-color: #ffcdd2;
}

.red.l-200
{
    background-color: #ef9a9a;
}

.red.l-300
{
    background-color: #e57373;
}

.red.l-400
{
    background-color: #ef5350;
}

.red.l-600
{
    background-color: #e53935;
}

.red.l-700
{
    background-color: #d32f2f;
}

.red.l-800
{
    background-color: #c62828;
}

.red.l-900
{
    background-color: #b71c1c;
}

.red.a-100
{
    background-color: #ff8a80;
}

.red.a-200,
.error:not(.icon)
{
    background-color: #ff5252;
}

.red.a-400
{
    background-color: #ff1744;
}

.red.a-700
{
    background-color: #d50000;
}

.pink
{
    background-color: #e91e63;
}

.pink.l-50
{
    background-color: #fce4ec;
}

.pink.l-100
{
    background-color: #f8bbd0;
}

.pink.l-200
{
    background-color: #f48fb1;
}

.pink.l-300
{
    background-color: #f06292;
}

.pink.l-400
{
    background-color: #ec407a;
}

.pink.l-600
{
    background-color: #d81b60;
}

.pink.l-700
{
    background-color: #c2185b;
}

.pink.l-800
{
    background-color: #ad1457;
}

.pink.l-900
{
    background-color: #880e4f;
}

.pink.a-100
{
    background-color: #ff80ab;
}

.pink.a-200
{
    background-color: #ff4081;
}

.pink.a-400
{
    background-color: #f50057;
}

.pink.a-700
{
    background-color: #c51162;
}

.purple
{
    background-color: #9c27b0;
}

.purple.l-50
{
    background-color: #f3e5f5;
}

.purple.l-100
{
    background-color: #e1bee7;
}

.purple.l-200
{
    background-color: #ce93d8;
}

.purple.l-300
{
    background-color: #ba68c8;
}

.purple.l-400
{
    background-color: #ab47bc;
}

.purple.l-600
{
    background-color: #8e24aa;
}

.purple.l-700
{
    background-color: #7b1fa2;
}

.purple.l-800
{
    background-color: #6a1b9a;
}

.purple.l-900
{
    background-color: #4a148c;
}

.purple.a-100
{
    background-color: #ea80fc;
}

.purple.a-200
{
    background-color: #e040fb;
}

.purple.a-400
{
    background-color: #d500f9;
}

.purple.a-700
{
    background-color: #aa00ff;
}

.deep-purple
{
    background-color: #673ab7;
}

.deep-purple.l-50
{
    background-color: #ede7f6;
}

.deep-purple.l-100
{
    background-color: #d1c4e9;
}

.deep-purple.l-200
{
    background-color: #b39ddb;
}

.deep-purple.l-300
{
    background-color: #9575cd;
}

.deep-purple.l-400
{
    background-color: #7e57c2;
}

.deep-purple.l-600
{
    background-color: #5e35b1;
}

.deep-purple.l-700
{
    background-color: #512da8;
}

.deep-purple.l-800
{
    background-color: #4527a0;
}

.deep-purple.l-900
{
    background-color: #311b92;
}

.deep-purple.a-100
{
    background-color: #b388ff;
}

.deep-purple.a-200
{
    background-color: #7c4dff;
}

.deep-purple.a-400
{
    background-color: #651fff;
}

.deep-purple.a-700
{
    background-color: #6200ea;
}

.indigo
{
    background-color: #3f51b5;
}

.indigo.l-50
{
    background-color: #e8eaf6;
}

.indigo.l-100
{
    background-color: #c5cae9;
}

.indigo.l-200
{
    background-color: #9fa8da;
}

.indigo.l-300
{
    background-color: #7986cb;
}

.indigo.l-400
{
    background-color: #5c6bc0;
}

.indigo.l-600
{
    background-color: #3949ab;
}

.indigo.l-700
{
    background-color: #303f9f;
}

.indigo.l-800
{
    background-color: #283593;
}

.indigo.l-900
{
    background-color: #1a237e;
}

.indigo.a-100
{
    background-color: #8c9eff;
}

.indigo.a-200
{
    background-color: #536dfe;
}

.indigo.a-400
{
    background-color: #3d5afe;
}

.indigo.a-700
{
    background-color: #304ffe;
}

.blue,
.info:not(.icon),
.primary:not(.icon)
{
    background-color: #2196f3;
}

.blue.l-50
{
    background-color: #e3f2fd;
}

.blue.l-100
{
    background-color: #bbdefb;
}

.blue.l-200
{
    background-color: #90caf9;
}

.blue.l-300
{
    background-color: #64b5f6;
}

.blue.l-400
{
    background-color: #42a5f5;
}

.blue.l-600
{
    background-color: #1e88e5;
}

.blue.l-700
{
    background-color: #1976d2;
}

.blue.l-800
{
    background-color: #1565c0;
}

.blue.l-900
{
    background-color: #0d47a1;
}

.blue.a-100
{
    background-color: #82b1ff;
}

.blue.a-200
{
    background-color: #448aff;
}

.blue.a-400
{
    background-color: #2979ff;
}

.blue.a-700
{
    background-color: #2962ff;
}

.light-blue
{
    background-color: #03a9f4;
}

.light-blue.l-50
{
    background-color: #e1f5fe;
}

.light-blue.l-100
{
    background-color: #b3e5fc;
}

.light-blue.l-200
{
    background-color: #81d4fa;
}

.light-blue.l-300
{
    background-color: #4fc3f7;
}

.light-blue.l-400
{
    background-color: #29b6f6;
}

.light-blue.l-600
{
    background-color: #039be5;
}

.light-blue.l-700
{
    background-color: #0288d1;
}

.light-blue.l-800
{
    background-color: #0277bd;
}

.light-blue.l-900
{
    background-color: #01579b;
}

.light-blue.a-100
{
    background-color: #80d8ff;
}

.light-blue.a-200
{
    background-color: #40c4ff;
}

.light-blue.a-400
{
    background-color: #00b0ff;
}

.light-blue.a-700
{
    background-color: #0091ea;
}

.cyan
{
    background-color: #00bcd4;
}

.cyan.l-50
{
    background-color: #e0f7fa;
}

.cyan.l-100
{
    background-color: #b2ebf2;
}

.cyan.l-200
{
    background-color: #80deea;
}

.cyan.l-300
{
    background-color: #4dd0e1;
}

.cyan.l-400
{
    background-color: #26c6da;
}

.cyan.l-600
{
    background-color: #00acc1;
}

.cyan.l-700
{
    background-color: #0097a7;
}

.cyan.l-800
{
    background-color: #00838f;
}

.cyan.l-900
{
    background-color: #006064;
}

.cyan.a-100
{
    background-color: #84ffff;
}

.cyan.a-200
{
    background-color: #18ffff;
}

.cyan.a-400
{
    background-color: #00e5ff;
}

.cyan.a-700
{
    background-color: #00b8d4;
}

.teal
{
    background-color: #009688;
}

.teal.l-50
{
    background-color: #e0f2f1;
}

.teal.l-100
{
    background-color: #b2dfdb;
}

.teal.l-200
{
    background-color: #80cbc4;
}

.teal.l-300
{
    background-color: #4db6ac;
}

.teal.l-400
{
    background-color: #26a69a;
}

.teal.l-600
{
    background-color: #00897b;
}

.teal.l-700
{
    background-color: #00796b;
}

.teal.l-800
{
    background-color: #00695c;
}

.teal.l-900
{
    background-color: #004d40;
}

.teal.a-100
{
    background-color: #a7ffeb;
}

.teal.a-200
{
    background-color: #64ffda;
}

.teal.a-400
{
    background-color: #1de9b6;
}

.teal.a-700
{
    background-color: #00bfa5;
}

.green,
.success:not(.icon)
{
    background-color: #4caf50;
}

.green.l-50
{
    background-color: #e8f5e9;
}

.green.l-100
{
    background-color: #c8e6c9;
}

.green.l-200
{
    background-color: #a5d6a7;
}

.green.l-300
{
    background-color: #81c784;
}

.green.l-400
{
    background-color: #66bb6a;
}

.green.l-600
{
    background-color: #43a047;
}

.green.l-700
{
    background-color: #388e3c;
}

.green.l-800
{
    background-color: #2e7d32;
}

.green.l-900
{
    background-color: #1b5e20;
}

.green.a-100
{
    background-color: #b9f6ca;
}

.green.a-200
{
    background-color: #69f0ae;
}

.green.a-400
{
    background-color: #00e676;
}

.green.a-700
{
    background-color: #00c853;
}

.light-green
{
    background-color: #8bc34a;
}

.light-green.l-50
{
    background-color: #f1f8e9;
}

.light-green.l-100
{
    background-color: #dcedc8;
}

.light-green.l-200
{
    background-color: #c5e1a5;
}

.light-green.l-300
{
    background-color: #aed581;
}

.light-green.l-400
{
    background-color: #9ccc65;
}

.light-green.l-600
{
    background-color: #7cb342;
}

.light-green.l-700
{
    background-color: #689f38;
}

.light-green.l-800
{
    background-color: #558b2f;
}

.light-green.l-900
{
    background-color: #33691e;
}

.light-green.a-100
{
    background-color: #ccff90;
}

.light-green.a-200
{
    background-color: #b2ff59;
}

.light-green.a-400
{
    background-color: #76ff03;
}

.light-green.a-700
{
    background-color: #64dd17;
}

.lime
{
    background-color: #cddc39;
}

.lime.l-50
{
    background-color: #f9fbe7;
}

.lime.l-100
{
    background-color: #f0f4c3;
}

.lime.l-200
{
    background-color: #e6ee9c;
}

.lime.l-300
{
    background-color: #dce775;
}

.lime.l-400
{
    background-color: #d4e157;
}

.lime.l-600
{
    background-color: #c0ca33;
}

.lime.l-700
{
    background-color: #afb42b;
}

.lime.l-800
{
    background-color: #9e9d24;
}

.lime.l-900
{
    background-color: #827717;
}

.lime.a-100
{
    background-color: #f4ff81;
}

.lime.a-200
{
    background-color: #eeff41;
}

.lime.a-400
{
    background-color: #c6ff00;
}

.lime.a-700
{
    background-color: #aeea00;
}

.yellow
{
    background-color: #ffeb3b;
}

.yellow.l-50
{
    background-color: #fffde7;
}

.yellow.l-100
{
    background-color: #fff9c4;
}
.yellow.l-200
{
    background-color: #fff59d;
}
.yellow.l-300
{
    background-color: #fff176;
}
.yellow.l-400
{
    background-color: #ffee58;
}

.yellow.l-600
{
    background-color: #fdd835;
}

.yellow.l-700
{
    background-color: #fbc02d;
}

.yellow.l-800
{
    background-color: #f9a825;
}

.yellow.l-900
{
    background-color: #f57f17;
}

.yellow.a-100
{
    background-color: #ffff8d;
}

.yellow.a-200
{
    background-color: #ffff00;
}

.yellow.a-400
{
    background-color: #ffea00;
}

.yellow.a-700
{
    background-color: #ffd600;
}

.amber,
.warning:not(.icon)
{
    background-color: #ffc107;
}

.amber.l-50
{
    background-color: #fff8e1;
}

.amber.l-100
{
    background-color: #ffecb3;
}

.amber.l-200
{
    background-color: #ffe082;
}

.amber.l-300
{
    background-color: #ffd54f;
}

.amber.l-400
{
    background-color: #ffca28;
}

.amber.l-600
{
    background-color: #ffb300;
}

.amber.l-700
{
    background-color: #ffa000;
}

.amber.l-800
{
    background-color: #ff8f00;
}
.amber.l-900
{
    background-color: #ff6f00;
}

.amber.a-100
{
    background-color: #ffe57f;
}

.amber.a-200
{
    background-color: #ffd740;
}

.amber.a-400
{
    background-color: #ffc400;
}

.amber.a-700
{
    background-color: #ffab00;
}

.orange
{
    background-color: #ff9800;
}

.orange.l-50
{
    background-color: #fff3e0;
}

.orange.l-100
{
    background-color: #ffe0b2;
}

.orange.l-200
{
    background-color: #ffcc80;
}

.orange.l-300
{
    background-color: #ffb74d;
}

.orange.l-400
{
    background-color: #ffa726;
}

.orange.l-600
{
    background-color: #fb8c00;
}

.orange.l-700
{
    background-color: #f57c00;
}

.orange.l-800
{
    background-color: #ef6c00;
}

.orange.l-900
{
    background-color: #e65100;
}

.orange.a-100
{
    background-color: #ffd180;
}

.orange.a-200
{
    background-color: #ffab40;
}

.orange.a-400
{
    background-color: #ff9100;
}

.orange.a-700
{
    background-color: #ff6d00;
}

.deep-orange
{
    background-color: #ff5722;
}

.deep-orange.l-50
{
    background-color: #fbe9e7;
}

.deep-orange.l-100
{
    background-color: #ffccbc;
}

.deep-orange.l-200
{
    background-color: #ffab91;
}

.deep-orange.l-300
{
    background-color: #ff8a65;
}

.deep-orange.l-400
{
    background-color: #ff7043;
}

.deep-orange.l-600
{
    background-color: #f4511e;
}

.deep-orange.l-700
{
    background-color: #e64a19;
}

.deep-orange.l-800
{
    background-color: #d84315;
}

.deep-orange.l-900
{
    background-color: #bf360c;
}

.deep-orange.a-100
{
    background-color: #ff9e80;
}

.deep-orange.a-200
{
    background-color: #ff6e40;
}

.deep-orange.a-400
{
    background-color: #ff3d00;
}

.deep-orange.a-700
{
    background-color: #dd2c00;
}

.brown
{
    background-color: #795548;
}

.brown.l-50
{
    background-color: #efebe9;
}

.brown.l-100
{
    background-color: #d7ccc8;
}

.brown.l-200
{
    background-color: #bcaaa4;
}

.brown.l-300
{
    background-color: #a1887f;
}

.brown.l-400
{
    background-color: #8d6e63;
}

.brown.l-600
{
    background-color: #6d4c41;
}
.brown.l-700
{
    background-color: #5d4037;
}
.brown.l-800
{
    background-color: #4e342e;
}
.brown.l-900
{
    background-color: #3e2723;
}

.grey,
.default:not(.icon)
{
    background-color: #9e9e9e;
}

.grey.l-50
{
    background-color: #fafafa;
}

.grey.l-100
{
    background-color: #f5f5f5;
}

.grey.l-200
{
    background-color: #eeeeee;
}

.grey.l-300
{
    background-color: #e0e0e0;
}

.grey.l-400
{
    background-color: #bdbdbd;
}

.grey.l-600
{
    background-color: #757575;
}

.grey.l-700
{
    background-color: #616161;
}

.grey.l-800
{
    background-color: #424242;
}

.grey.l-900
{
    background-color: #212121;
}

.blue-grey
{
    background-color: #607d8b;
}

.blue-grey.l-50
{
    background-color: #eceff1;
}

.blue-grey.l-100
{
    background-color: #cfd8dc;
}

.blue-grey.l-200
{
    background-color: #b0bec5;
}

.blue-grey.l-300
{
    background-color: #90a4ae;
}

.blue-grey.l-400
{
    background-color: #78909c;
}

.blue-grey.l-600
{
    background-color: #546e7a;
}

.blue-grey.l-700
{
    background-color: #455a64;
}

.blue-grey.l-800
{
    background-color: #37474f;
}

.blue-grey.l-900
{
    background-color: #263238;
}

.black
{
    background-color: #000000;
}

.white
{
    background-color: #ffffff;
}

.transparent
{
    background-color: transparent;
}