html,
body
{
    padding: 0;
    margin: 0;
}

.vc
{
    font-family: Roboto, Avenir, Arial, "Helvetica Neue", Helvetica, sans-serif;
    cursor: default;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.vc-badge.vc-light,
.vc-badge.vc-light *,
.vc-snackbar-content.vc-light,
.vc-snackbar-content.vc-light *,
.vc-jumbotron.vc-light *,
.vc-alert.vc-light *,
.vc-alert.vc-light .vc-alert-dismiss-wrapper .vc-icon,
.vc-footer.vc-light,
.vc-footer.vc-light a,
.vc-toolbar.vc-light,
.vc-tag.vc-light span,
.vc-button.vc-light .vc-icon,
.vc-tabstrip .vc-tabstrip-buttons.vc-light *,
.vc-button.vc-light .vc-button-label,
.vc-dialog-header.vc-light,
.vc-rating.vc-light div,
.vc-checkbox .vc-checkbox-label.vc-dark,
.vc-switcher .vc-switcher-label.vc-dark
{
    color: rgba(0, 0, 0, .87);
}

.vc-rating.vc-dark div,
.vc-badge.vc-dark,
.vc-badge.vc-dark *,
.vc-snackbar-content.vc-dark,
.vc-snackbar-content.vc-dark *,
.vc-jumbotron.vc-dark *,
.vc-alert.vc-dark *,
.vc-footer.vc-dark,
.vc-footer.vc-dark a,
.vc-tag.vc-dark span,
.vc-dialog-header.vc-dark,
.vc-toolbar.vc-dark,
.vc-button.vc-dark .vc-icon,
.vc-button.vc-dark .vc-button-label,
.vc-card.vc-light,
.vc-card-text.vc-light,
.vc-card-media.vc-light,
.vc-card-title.vc-light,
.vc-card-actions.vc-light,
.vc-checkbox .vc-checkbox-label.vc-light,
.vc-switcher .vc-switcher-label.vc-light
{
    color: #fff;
}

.vc-button[disabled],
.vc-collapsible-item[disabled]
{
    background: rgba(0, 0, 0, .12) !important;
    box-shadow: none !important;
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    pointer-events: none;
    cursor: default;
    cursor: not-allowed;
}

.vc-button[disabled] *,
.vc-collapsible-item[disabled] h4 *
{
    color: rgba(0, 0, 0, .26) !important;
}

.vc-block
{
    width: 100%;
    display: block !important;
}

.vc-flat
{
    border-radius: 0 !important;
}

.vc-table-layout
{
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}

.vc-table-layout > *
{
    display: table-row;
}

.vc-table-layout > * > *
{
    display: table-cell;
    vertical-align: middle;
}

.align-center
{
    text-align: center;
}

.align-left
{
    text-align: left;
}

.align-right
{
    text-align: right;
}

.ellipsis
{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pointer-events-off
{
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    pointer-events: none;
}

.margin-auto
{
    margin: 0 auto;
}

.uppercase
{
    text-transform: uppercase;
}

.no-select
{
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.vc-application:not(.vc-nav-drawer)
{
    transition: margin .25s ease-out;
}

.vc-required-field::after
{
    content: " *";
    color: #e05141;
}

.vc-input-hint
{
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 10px;
    opacity: .75;
    padding: 4px 0;
    position: absolute;
    width: 100%;
}

.click-target
{
    cursor: pointer;
}