<template>
  <i @click="$emit('click')" :class="[servicePrefix, iconClass, 'icon', 'vc-icon', `vc-icon-${size}`, fontColor]" role="icon" aria-hidden="true">{{ slotText }}</i>
</template>
<script>
export default {
  name: 'VcIcon',
  data () {
    return {
      iconClasses: '',
      slotText: '',
      servicePrefix: '',
      iconClass: '',
      fontColor: ''
    }
  },
  props: {
    color: {
      type: String,
      required: false,
      default: 'default'
    },
    size: {
      type: String,
      required: false,
      default: 'normal'
    }
  },
  watch: {
    color () {
      this.setColor()
    }
  },
  mounted () {
    this.setColor()
  },
  created () {
    const slotText = this.$slots.default[0].text
    let slotTextSplit = slotText.split('-')
    if (slotText.indexOf('-') > -1) {
      this.servicePrefix = slotTextSplit[0]
    } else {
      this.slotText = slotText
      this.servicePrefix = 'material-icons'
    }
    this.iconClass = slotText
  },
  methods: {
    setColor () {
      let color = this.color.split(' ')
      const colors = []
      color.forEach(clr => {
        colors.push(`font-${clr}`)
      })
      this.fontColor = colors.join(' ')
    }
  }
}
</script>
<style>
.vc-icon
{
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 24px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1;
  vertical-align: middle;
  user-select: none;
  cursor: inherit;
  /*color: rgba(0, 0, 0, .54);*/
  font-style: normal;
  transition: color .25s ease-in-out;
}

.vc-icon.vc-icon-x-small
{
  font-size: .75rem;
}

.vc-icon.vc-icon-small
{
  font-size: 1rem;
}

.vc-icon.vc-icon-normal
{
  font-size: 1.5rem;
}

.vc-icon.vc-icon-medium
{
  font-size: 2rem;
}

.vc-icon.vc-icon-large
{
  font-size: 2.5rem;
}

.vc-icon.vc-icon-x-large
{
  font-size: 3rem;
}

a .vc-icon
{
  text-decoration: none;
}
</style>
