<template>
  <div aria-label="breadcrumb" v-if="links.length" :class="['vc', 'vc-breadcrumbs', `align-${align}`, lastDisabled ? 'vc-breadcrumbs-last-disabled': null]">
    <ul>
      <template v-for="(link, index) in links">
        <li :key="`${index}-link`">
          <a :aria-current="index === links.length -1 ? 'page' : null" :class="[fontColor, upperCase ? 'vc-to-upper' : null]" :is="tag" :href="link.to" :to="link.to" v-html="link.title" />
        </li>
        <li v-if="index < links.length - 1" :key="`${index}-delimiter`" :class="['vc-breadcrumbs-delimiter']">
          <span v-if="delimiter.indexOf('&') !== -1 || delimiter.length === 1" v-html="delimiter" />
          <vc-icon size="small" v-else>{{ delimiter }}</vc-icon>
        </li>
      </template>
    </ul>
  </div>
</template>
<script>
export default {
  name: 'VcBreadcrumbs',
  data () {
    return {
      fontColor: null
    }
  },
  props: {
    color: {
      type: String,
      required: false,
      default: 'primary'
    },
    tag: {
      type: String,
      required: false,
      default: 'a'
    },
    links: {
      type: Array,
      required: true
    },
    lastDisabled: {
      type: Boolean,
      required: false,
      default: true
    },
    delimiter: {
      type: String,
      required: false,
      default: '/'
    },
    align: {
      type: String,
      required: false,
      default: 'left'
    },
    upperCase: {
      type: Boolean,
      default: false
    }
  },
  watch: {
    color () {
      this.setColor()
    }
  },
  mounted () {
    this.setColor()
  },
  methods: {
    setColor () {
      let color = this.color.split(' ')
      const colors = []
      color.forEach(clr => {
        colors.push(`font-${clr}`)
      })
      this.fontColor = colors.join(' ')
    }
  }
}
</script>
<style>
.vc-breadcrumbs ul,
.vc-breadcrumbs li
{
  margin: 0;
  padding: 0;
  list-style: none;
}

.vc-breadcrumbs,
.vc-breadcrumbs.vc-breadcrumbs-last-disabled li:last-child a
{
  color: rgba(0, 0, 0, .38);
}

.vc-breadcrumbs.vc-breadcrumbs-last-disabled li:last-child a
{
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  pointer-events: none;
}

.vc-breadcrumbs
{
  padding: 16px 0;
  font-size: 14px;
  font-weight: 500;
}

.vc-breadcrumbs a
{
  text-decoration: none;
}

.vc-breadcrumbs a:hover
{
  text-decoration: underline;
}

.vc-breadcrumbs ul
{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vc-breadcrumbs li
{
  display: inline-block;
  vertical-align: middle;
}

.vc-breadcrumbs .vc-breadcrumbs-delimiter
{
  padding: 0 12px;
}
</style>
