<template>
  <div @click="$emit('click')" :is="tag" :class="['vc-card-media', 'pa-0', color, dark ? 'vc-dark' : 'vc-light']" :style="backgroundImage">
    <slot />
  </div>
</template>
<script>
import props from '../../mixins/props'

export default {
  name: 'VcCardMedia',
  mixins: [
    props
  ],
  computed: {
    backgroundImage () {
      const background = this.background
      return {
        backgroundImage: background ? `url(${background})` : null,
        height: this.height,
        backgroundAttachment: this.parallax ? 'fixed' : null
      }
    }
  },
  props: {
    tag: {
      type: String,
      required: false,
      default: 'section'
    },
    height: {
      type: String,
      required: false,
      default: '200px'
    },
    background: {
      type: String,
      required: false
    },
    parallax: {
      type: Boolean,
      required: false
    }
  }
}
</script>
<style>
.vc-card-media
{
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
}
</style>
