<template>
  <span @click="$emit('click')" :is="tag" :href="to" :to="to" :class="['vc', 'vc-flag', 'no-select', round ? 'vc-flag-round' : null]">
    <img :src="src" :alt="src" :style="style" width="auto" height="auto" />
  </span>
</template>
<script>
export default {
  name: 'VcFlag',
  props: {
    ratio: {
      type: String,
      required: false,
      default: '4x3'
    },
    iso: {
      type: String,
      required: true
    },
    size: {
      type: [Number, String],
      required: false,
      default: 3
    },
    tag: {
      type: String,
      required: false,
      default: 'span'
    },
    to: {
      type: String,
      required: false
    },
    flagsCssRootDir: {
      type: String,
      required: false,
      default: '/static/flag-icon-css/flags/'
    },
    round: {
      type: Boolean,
      required: false
    }
  },
  mounted () {
    if (this.round) {
      this.ratio = '1x1'
    }
  },
  computed: {
    src () {
      return `${this.flagsCssRootDir}${this.ratio}/${this.iso.toLowerCase()}.svg`
    },
    style () {
      const size = this.size
      return {
        width: this.ratio === '4x3' ? `${size}.33333333em` : `${size}em`,
        height: `${size}em`
      }
    }
  }
}
</script>
<style>
.vc-flag
{
  display: inline-block;
  vertical-align: middle;
  margin: 4px;
}

.vc-flag img
{
  display: block;
}

a.vc-flag
{
  cursor: pointer;
}

.vc-flag.vc-flag-round
{
  border-radius: 100%;
  overflow: hidden;
}
</style>
