<template>
  <div :class="['vc', 'vc-rating', readonly ? 'vc-rating-readonly' : '', dark ? 'vc-dark' : 'vc-light']">
    <div v-html="label" v-if="label" />
    <ul @mouseout="out()">
      <li
        :aria-labelledby="index"
        v-for="(box, index) in boxes"
        :key="index"
        @click="select(index)"
        @mouseover="over(index)"
      >
        <vc-icon
          v-ripple
          :size="size"
          :color="box.colorOff"
        >{{ box.icon }}</vc-icon>
      </li>
    </ul>
  </div>
</template>
<script>
export default {
  name: 'VcRating',
  data () {
    return {
      boxes: []
    }
  },
  model: {
    prop: 'value',
    event: 'input'
  },
  props: {
    label: {
      type: String,
      required: false
    },
    value: {
      type: Number,
      required: true
    },
    size: {
      type: String,
      required: false,
      default: 'normal'
    },
    readonly: {
      type: Boolean,
      required: false
    },
    items: {
      type: Number,
      required: false,
      default: 5
    },
    icon: {
      type: String,
      required: false,
      default: 'star'
    },
    dark: {
      type: Boolean,
      required: false,
      default: false
    },
    colorOff: {
      type: String,
      required: false,
      default: 'grey l-300'
    },
    colorOn: {
      type: String,
      required: false,
      default: 'yellow l-700'
    }
  },
  created () {
    const score = Math.round((this.value / 100 * this.items) * 10).toFixed(2)
    for (let i = 0; i < this.items; i++) {
      this.boxes.push({
        colorOn: this.colorOn,
        colorOff: score > i ? this.colorOn : this.colorOff,
        icon: this.icon,
        selected: score > i,
        value: i + 1
      })
    }
  },
  methods: {
    over (index) {
      if (this.readonly) {
        return
      }
      this.boxes.filter((box, i) => {
        if (!box.selected) {
          box.colorOff = this.colorOff
        }
        if (i <= index) {
          box.colorOff = this.colorOn
        }
      })
    },
    out () {
      if (this.readonly) {
        return
      }
      this.boxes.filter(box => {
        if (!box.selected) {
          box.colorOff = this.colorOff
        }
      })
    },
    select (index) {
      const boxes = this.boxes
      if (this.readonly) {
        return
      }
      boxes.filter((box, i) => {
        box.colorOff = this.colorOff
        if (i <= index) {
          box.colorOff = this.colorOn
          box.selected = true
        }
      })
      this.$emit('input', boxes[index].value)
    }
  }
}
</script>
<style>
.vc-rating,
.vc-rating ul,
.vc-rating li
{
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  vertical-align: middle;
}

.vc-rating
{
  white-space: nowrap;
}

.vc-rating .vc-icon
{
  cursor: pointer;
  transition: all .1s ease-in-out;
}

.vc-rating.vc-rating-readonly *
{
  cursor: default;
}

.vc-rating > div
{
  padding: 4px;
  font-size: 14px;
}
</style>
