<template>
  <div :class="['vc-lorem-ipsum']">
    <p :is="tag" v-for="repeat in repeats" :key="repeat" v-html="item()" />
  </div>
</template>
<script>
export default {
  name: 'VcLoremIpsum',
  data () {
    return {
      paragraphs: [
        `Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. <a href="#">Ut enim ad minim</a> veniam, quis nostrud exercitation
        ullamco laboris nisi ut aliquip ex ea commodo consequat.`,
        `Sed ut <a href="#">perspiciatis</a> unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
        aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
        dolores eos qui ratione voluptatem sequi nesciunt.`,
        `Neque porro <a href="#">quisquam est</a>, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non
        numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.`,
        `Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid
        ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam
        nihil molestiae consequatur, <a href="#">vel illum</a> qui dolorem eum fugiat quo voluptas nulla pariatur?`,
        `At vero eos et <a href="#">accusamus</a> et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
        corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident`,
        `Et harum quidem rerum facilis est et expedita <a href="#">distinctio</a>. Nam libero tempore,
        cum soluta nobis est eligendi optio
        cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda
        est, omnis dolor repellendus.`,
        `Temporibus autem quibusdam et aut <a href="#">officiis debitis</a> aut rerum necessitatibus saepe eveniet ut et voluptates
        repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut
        reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.`,
        `Duis aute irure dolor in <a href="#">reprehenderit</a> in voluptate velit esse cillum dolore eu
        fugiat nulla pariatur. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.`,
        `Ut enim ad <a href="#">minima veniam</a>, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea
        commodi consequatur? Quis autem vel eum iure <a href="#">reprehenderit</a> qui in ea voluptate velit esse quam nihil molestiae
        consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?`,
        `Et harum quidem <a href="#">rerum facilis</a> est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi
        optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est,
        omnis dolor repellendus. Temporibus autem <a href="#">quibusdam</a> et aut officiis debitis aut rerum necessitatibus saepe
        eveniet ut et voluptates repudiandae sint et molestiae non recusandae.`,
        `Itaque earum rerum hic <a href="#">tenetur a sapiente</a> delectus, ut aut reiciendis voluptatibus maiores alias consequatur
        aut perferendis doloribus asperiores repellat.`
      ]
    }
  },
  props: {
    repeats: {
      type: Number,
      required: false,
      default: 1
    },
    tag: {
      type: String,
      required: false,
      default: 'p'
    }
  },
  methods: {
    item () {
      const paragraphs = this.paragraphs
      return paragraphs[Math.floor(Math.random() * paragraphs.length)]
    }
  }
}
</script>
