<template>
  <li :aria-expanded="getItemData().checked" role="treeitem" :class="['vc-collapsible-item', getItemData().checked ? 'vc-collapsible-item-open' : '', hasVcList ? 'vc-collapsible-has-vc-list' : '']" :disabled="getItemData().disabled">
    <h4 @click="toggle()" :class="['body-2']" role="button">
      <span :class="['vc-table-layout']">
        <span>
          <span v-if="icon" :class="['vc-collapsible-item-icon']">
            <vc-icon :color="getItemData().checked ? $parent.color : 'default'">{{ icon }}</vc-icon>
          </span>
          <span :class="['vc-collapsible-item-label']">
            <span :class="[getItemData().checked ? 'font-' + $parent.color : 'font-grey-l-700']">{{ getItemData().header }}</span>
          </span>
          <span :class="['vc-collapsible-item-icon-collapse']">
            <vc-icon :color="getItemData().checked ? $parent.color : 'default'">keyboard_arrow_down</vc-icon>
          </span>
        </span>
      </span>
    </h4>
    <transition name="slide-open">
      <div :style="{maxHeight: maxHeight}">
        <slot></slot>
      </div>
    </transition>
  </li>
</template>
<script>
import methods from '../../mixins/methods'

export default {
  name: 'VcCollapsibleItem',
  mixins: [
    methods
  ],
  data () {
    return {
      multiple: this.$parent.multiple,
      checked: this.open
    }
  },
  props: {
    label: {
      type: String,
      required: true
    },
    open: {
      type: Boolean,
      required: false
    },
    disabled: {
      type: Boolean,
      required: false
    },
    icon: {
      type: String,
      required: false
    },
    hasVcList: {
      type: Boolean,
      required: false
    },
    maxHeight: {
      type: [
        String,
        Number
      ],
      required: false
    }
  },
  created () {
    this.$parent.items.push({
      label: this.setName(this.label),
      header: this.label,
      open: this.open,
      checked: this.checked,
      disabled: this.disabled,
      icon: this.icon,
      maxHeight: this.maxHeight
    })
  },
  methods: {
    getItemData () {
      return this.$parent.items.filter(item => item.label === this.setName(this.label))[0]
    },
    toggle () {
      if (!this.multiple) {
        this.$parent.items.forEach(item => {
          if (item.label !== this.getItemData().label) {
            item.checked = false
          }
        })
      }
      this.getItemData().checked = !this.getItemData().checked
    }
  }
}
</script>
<style>
.vc-collapsible-item
{
  background: #fff;
}

.vc-collapsible-item > div,
.vc-collapsible-item > h4
{
  padding: 12px 24px;
  font-size: 14px;
}

.vc-collapsible-item:not(.vc-collapsible-item-open) > h4,
.vc-collapsible-item:not(:last-child) > div
{
  border-bottom: solid 1px rgba(0, 0, 0, .12);
}

.vc-collapsible-item > div,
.vc-collapsible-item[disabled] > div
{
  position: absolute;
  top: -9999px;
  clip: rect(0, 0, 0, 0);
  opacity: 0;
  transition: opacity .25s .1s ease-in-out;
}

.vc-collapsible-item.vc-collapsible-has-vc-list .vc-list-item-primary-text,
.vc-collapsible-item.vc-collapsible-has-vc-list .vc-list-item-secondary-text
{
  padding-left: 4px;
}

.vc-collapsible-item.vc-collapsible-item-open > div
{
  position: static;
  opacity: 1;
}

.vc-collapsible-item .vc-collapsible-item-icon-collapse .vc-icon
{
  transition: all .3s ease-in-out;
}

.vc-collapsible-item.vc-collapsible-item-open .vc-collapsible-item-icon-collapse .vc-icon
{
  transform: rotate(-180deg);
}

.vc-collapsible-item > h4
{
  display: block;
  margin: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, .87);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.vc-collapsible-item > div
{
  overflow: auto;
}

.vc-collapsible-item .vc-collapsible-item-icon
{
  width: 36px;
}

.vc-collapsible-item .vc-collapsible-item-icon-collapse
{
  width: 24px;
}

.vc-collapsible-item .vc-collapsible-item-label span
{
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  transition: color .3s ease-in-out;
}

.vc-collapsible-item.vc-collapsible-has-vc-list > div
{
  padding: 0;
}

.vc-collapsible-item.vc-collapsible-has-vc-list > h4
{
  padding-left: 8px;
  padding-right: 8px;
}
</style>
