<template>
  <div role="presentation" :class="['vc', 'vc-timeline']" :style="{width: width}">
    <table>
      <template v-for="(breakpoints, index) in direction">
        <tr :key="index">
          <td colspan="3" :class="['align-center']">
            <h3 v-if="breakpoints.breakpoint" v-html="breakpoints.breakpoint" :class="[title, 'vc-timeline-breakpoint-title']" />
          </td>
        </tr>
        <tr v-for="(story, storyIndex) in breakpoints.history" :key="`${index}-${storyIndex}`" :class="['vc-timeline-story']">
          <td :class="['align-right']">
            <vc-timeline-story
              :title="story.title"
              :story="story.story"
              :title-class="[body2, 'vc-timeline-story-title']"
              :border-class="[story.color || 'primary', 'vc-timeline-story-title-border']"
              :caption-class="[caption]"
              v-if="storyIndex % 2 === 0">
            </vc-timeline-story>
            <div v-else v-html="story.date" :class="[subheading, `font-${story.color || 'primary'}`]" />
          </td>
          <td :class="['align-center', 'vc-timeline-story-icon']">
            <div :class="[story.color || 'primary']" />
            <vc-button @click="$emit('story', story)" :size="importance[story.importance - 1] || 'small'" :color="story.color || 'primary'" icon-button>
              <vc-icon>{{ story.icon || 'check' }}</vc-icon>
            </vc-button>
          </td>
          <td :class="['align-left']">
            <vc-timeline-story
              :title="story.title"
              :story="story.story"
              :title-class="[body2, 'vc-timeline-story-title']"
              :border-class="[story.color || 'primary', 'vc-timeline-story-title-border']"
              :caption-class="[caption]"
              v-if="storyIndex % 2 !== 0">
            </vc-timeline-story>
            <div v-else v-html="story.date" :class="[subheading, `font-${story.color || 'primary'}`]" />
          </td>
        </tr>
      </template>
    </table>
  </div>
</template>
<script>
import VcTimelineStory from './VcTimelineStory'

export default {
  name: 'VcTimeline',
  components: {
    VcTimelineStory
  },
  data () {
    return {
      importance: ['small', 'normal'],
      title: ['title', 'font-grey', 'font-l-600'],
      body2: ['body-2', 'font-grey', 'font-l-600'],
      caption: ['caption', 'font-grey', 'font-l-800'],
      subheading: ['subheading'],
      direction: []
    }
  },
  props: {
    data: {
      type: Array,
      required: true
    },
    reverse: {
      type: Boolean,
      required: false
    },
    width: {
      type: [String, Number],
      required: false
    }
  },
  watch: {
    reverse () {
      this.data.reverse()
    },
    data () {
      this.direction = this.data
    }
  },
  created () {
    this.direction = !this.reverse ? this.data : this.data.reverse()
  },
  methods: {
    emit (data) {
      this.$emit('input', data)
    }
  }
}
</script>
<style>
.vc-timeline p,
.vc-timeline .title,
.vc-timeline .body-2
{
  margin: 0;
  padding: 0;
}

.vc-timeline .title,
.vc-timeline .subheading,
.vc-timeline .body-2
{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.vc-timeline table
{
  width: 100%;
  border-collapse: collapse;
}

.vc-timeline table td
{
  padding: 8px;
  width: 50%;
  vertical-align: middle;
}

.vc-timeline .vc-timeline-story-icon
{
  width: 44px;
  padding: 0;
  position: relative;
  opacity: .7;
  transition: opacity .3s ease-in-out;
}

.vc-timeline .vc-timeline-story:hover .vc-timeline-story-icon
{
  opacity: 1;
}

.vc-timeline .vc-timeline-story-icon > div
{
  position: absolute;
  width: 4px;
  top: 4px;
  bottom: 4px;
  left: 50%;
  border-radius: 4px;
  margin-left: -2px;
}

.vc-timeline p
{
  margin: 4px 0;
}

.vc-timeline .vc-timeline-story-title-border
{
  height: 1px;
  margin: 4px 0;
}
</style>
